{{ define "main" }}
<section id="blog">
    
    <article>
        <blockquote>A place for long-form blog posts.</blockquote>
    </article>
    {{ range .Pages }}
    <article>
        <h2>
            <time datetime="{{ .Date }}">{{ .Date.Format "02.01.2006" }}</time>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>
        
        <!-- Add tags display -->
        {{ if .Params.tags }}
        <div class="post-tags">
            {{ range .Params.tags }}
                <a href="{{ "/tags/" | relURL }}{{ . | urlize }}/" class="tag">{{ . }}</a>
            {{ end }}
        </div>
        {{ end }}
        
        <p>
            {{ .Content }}
        </p>
    </article>
    {{ end }}
</section>
{{ end }}