<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1><a href="{{ .Site.BaseURL | relURL}}">{{ .Site.Title }}</a></h1>
        <nav>
            <!-- Highlight the current page in the navigation bar -->
            <a href="{{ "/micro-blog/" | relURL }}" class="{{ if hasPrefix .RelPermalink "/micro-blog/" }}selected{{ end }}">Microblog</a>
            <a href="{{ "/blog/" | relURL }}" class="{{ if hasPrefix .RelPermalink "/blog/" }}selected{{ end }}">Blog</a>
            <a href="{{ "/about/" | relURL }}" class="{{ if hasPrefix .RelPermalink "/about/" }}selected{{ end }}">About</a>
        </nav>
    </header>
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    <!-- Add Mermaid code block rendering support -->
    {{ if .Store.Get "hasMermaid" }}
        <script type="module">
            import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
            mermaid.initialize({ startOnLoad: true });
        </script>
    {{ end }}
</body>

</html>